:root {
    --global-black: #151515;
    --white-color: #ffffff;
    --blue-brand-color: #1464f4;
    --text-color: #3c3c3c;
    --text-color-black: #1f2125;
    --text-color-grey: #707070;
    --background-color-dark: #121721;
}

* {
    box-sizing: inherit;
}

html {
    /* 1 rem = 10px */
    font-size: 16px;
    line-height: 160%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
